*.ncrunchproject
*.testsettings
*.suo
*.cache
*.user
*.vsmdi
*.ncrunchsolution

_Resharper.Caches
_Resharper.Keybase

Keybase.Test/bin
Keybase.Test/obj
Keybase/bin
Keybase/obj
Angeronia/bin
Angeronia/obj
packages
TestResults